<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - WMS</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/WMS_DEPI_GRAD.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/inventory.css" />
	<link rel="stylesheet" href="~/css/location.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


</head>
<body>


	<nav class="side-nav col-auto px-0">

		<div class="sidebar-header">
			<div class="logo-container">
				<i class="fas fa-cube nav-icon logo-icon"></i>
				<h5 class="sidebar-title">WMS</h5>
			</div>
		</div>
		<div class="sidebar-content">
			<ul class="nav flex-column" id="sidebarNav">
				<!-- Dashboard -->
				<li class="nav-item">
					<a class="nav-link" href="/Home/Index">
						<i class="fas fa-home nav-icon"></i>
						<span class="nav-text">Dashboard</span>
					</a>
				</li>

				<!-- Master Data -->
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#masterDataCollapse">
						<i class="fas fa-database nav-icon"></i>
						<span class="nav-text">Master Data</span>
						<i class="fas fa-chevron-right ms-auto collapse-icon"></i>
					</a>
					<div class="collapse" id="masterDataCollapse" data-bs-parent="#sidebarNav">
						<ul class="nav flex-column ms-3">
							<li class="nav-item"><a class="nav-link" href="/Location/Index"><span class="nav-text">Locations</span></a></li>
							<li class="nav-item"><a class="nav-link" href="/Warehouse/Index"><span class="nav-text">Warehouses</span></a></li>
							<li class="nav-item"><a class="nav-link" href="/Zone/Index"><span class="nav-text">Zones</span></a></li>
							<li class="nav-item"><a class="nav-link" href="/Aisle/Index"><span class="nav-text">Aisles</span></a></li>
							<li class="nav-item"><a class="nav-link" href="/Rack/Index"><span class="nav-text">Racks</span></a></li>
							<li class="nav-item"><a class="nav-link" href="/Bin/Index"><span class="nav-text">Bins</span></a></li>
							<li class="nav-item"><a class="nav-link" href="/BinType/Index"><span class="nav-text">Bin Types</span></a></li>
							<li class="nav-item"><a class="nav-link" href="/Product/Index"><span class="nav-text">Products</span></a></li>
							<li class="nav-item"><a class="nav-link" href="/Supplier/Index"><span class="nav-text">Suppliers</span></a></li>
							<li class="nav-item"><a class="nav-link" href="/Customer/Index"><span class="nav-text">Customers</span></a></li>
						</ul>
					</div>
				</li>

				<!-- Procurement Cycle -->
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#procurementCollapse">
						<i class="fas fa-shopping-cart nav-icon"></i>
						<span class="nav-text">Procurement</span>
						<i class="fas fa-chevron-right ms-auto collapse-icon"></i>
					</a>
					<div class="collapse" id="procurementCollapse" data-bs-parent="#sidebarNav">
						<ul class="nav flex-column ms-3">
							<li class="nav-item"><a class="nav-link" href="/PurchaseOrder/Index"><span class="nav-text">Purchase Orders</span></a></li>
							<li class="nav-item"><a class="nav-link" href="/ASN/Index"><span class="nav-text">ASNs</span></a></li>
							<li class="nav-item"><a class="nav-link" href="/Receipt/Index"><span class="nav-text">Receipts</span></a></li>
						</ul>
					</div>
				</li>

				<!-- Inventory Management -->
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#inventoryCollapse">
						<i class="fas fa-boxes nav-icon"></i>
						<span class="nav-text">Inventory</span>
						<i class="fas fa-chevron-right ms-auto collapse-icon"></i>
					</a>
					<div class="collapse" id="inventoryCollapse" data-bs-parent="#sidebarNav">
						<ul class="nav flex-column ms-3">
							<li class="nav-item"><a class="nav-link" href="/Inventory/Index"><span class="nav-text">Inventory List</span></a></li>
							<li class="nav-item"><a class="nav-link" href="/Putaway/Index"><span class="nav-text">Putaway</span></a></li>
							<li class="nav-item"><a class="nav-link" href="/Picking/Index"><span class="nav-text">Picking</span></a></li>
						</ul>
					</div>
				</li>

				<!-- Orders / Sales -->
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#salesCollapse">
						<i class="fas fa-truck-arrow-right nav-icon"></i>
						<span class="nav-text">Orders / Sales</span>
						<i class="fas fa-chevron-right ms-auto collapse-icon"></i>
					</a>
					<div class="collapse" id="salesCollapse" data-bs-parent="#sidebarNav">
						<ul class="nav flex-column ms-3">
							<li class="nav-item"><a class="nav-link" href="/SalesOrder/Index"><span class="nav-text">Sales Orders</span></a></li>
							<li class="nav-item"><a class="nav-link" href="/Picking/Index"><span class="nav-text">Picking</span></a></li>
						</ul>
					</div>
				</li>

				<!-- Transfers -->
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#transfersCollapse">
						<i class="fas fa-right-left nav-icon"></i>
						<span class="nav-text">Transfers</span>
						<i class="fas fa-chevron-right ms-auto collapse-icon"></i>
					</a>
					<div class="collapse" id="transfersCollapse" data-bs-parent="#sidebarNav">
						<ul class="nav flex-column ms-3">
							<li class="nav-item"><a class="nav-link" href="/TransferOrders/Index"><span class="nav-text">Transfer Orders</span></a></li>
						</ul>
					</div>
				</li>

				<!-- Reports / Analytics -->
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#reportsCollapse">
						<i class="fas fa-chart-bar nav-icon"></i>
						<span class="nav-text">Reports</span>
						<i class="fas fa-chevron-right ms-auto collapse-icon"></i>
					</a>
					<div class="collapse" id="reportsCollapse" data-bs-parent="#sidebarNav">
						<ul class="nav flex-column ms-3">
							<li class="nav-item"><a class="nav-link" href="#"><span class="nav-text">Stock Reports</span></a></li>
							<li class="nav-item"><a class="nav-link" href="#"><span class="nav-text">PO / ASN Reports</span></a></li>
							<li class="nav-item"><a class="nav-link" href="#"><span class="nav-text">Inventory Movement</span></a></li>
							<li class="nav-item"><a class="nav-link" href="#"><span class="nav-text">Discrepancy Reports</span></a></li>
						</ul>
					</div>
				</li>

				<!-- Settings / Users -->
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#settingsCollapse" aria-expanded="false" aria-controls="settingsCollapse">
						<i class="fas fa-cog nav-icon"></i>
						<span class="nav-text">Settings / Users</span>
						<i class="fas fa-chevron-right ms-auto collapse-icon"></i>
					</a>
					<div class="collapse" id="settingsCollapse" data-bs-parent="#sidebarNav">
						<ul class="nav flex-column ms-3">
							<li class="nav-item"><a class="nav-link" href="/User/Index"><span class="nav-text">User Management</span></a></li>
							<li class="nav-item"><a class="nav-link" href="/Role/Index"><span class="nav-text">Roles & Permissions</span></a></li>
							<li class="nav-item"><a class="nav-link" href="/Settings/Index"><span class="nav-text">System Settings</span></a></li>
							<li class="nav-item"><a class="nav-link" href="/Profile/Index"><span class="nav-text">Profile</span></a></li>
							<li class="nav-item"><a class="nav-link" href="/Home/Privacy"><span class="nav-text">Privacy</span></a></li>
						</ul>
					</div>
				</li>

				<!-- Logout -->
				<li class="nav-item mt-3">
					<form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
						<button type="submit" class="btn btn-link nav-link d-flex justify-content-start align-items-center w-100">
							<i class="fas fa-sign-out-alt nav-icon"></i>
							<span class="nav-text">Logout</span>
						</button>
					</form>
				</li>

			</ul>
		</div>
	</nav>




	<main class="main-content col">
		<div class="content-wrapper">
			@RenderBody()
		</div>






		<footer class="border-top footer">
			<div class="mx-5">
				&copy; 2025 - WMS_DEPI_GRAD
			</div>
		</footer>
	</main>




	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)


</body>
</html>
