@model WMS_DEPI_GRAD.ViewModels.ForgetPasswordViewModel

@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="container my-5">
    <h1 class="text-primary-orange">Password Reset</h1>
    <p class="lead">Please enter your email address to reset your password.</p>
    <div class="row justify-content-center d-flex mt-4 g-4 ">
        <div class="login col-lg-4 align-self-center">
            <!-- ⚠ تأكد من ربط الفورم بالـ POST Action -->
            <form asp-action="ForgotPassword" method="post">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>

                <button type="submit" class="btn btn-hero-primary">Send Code</button>
            </form>

            @* عرض الرسالة بعد ارسال الكود *@
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success mt-3">@ViewBag.Message</div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
