@model WMS_DEPI_GRAD.ViewModels.ForgetPasswordViewModel


@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="container my-5">
    <h1 class="text-primary-orange">Password Reset</h1>
    <p class="lead">Please enter your email address to reset your password.</p>
    <div class="row justify-content-center d-flex mt-4 g-4 ">

        <div class="login   col-lg-4 align-self-center">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input asp-for="Email"   class="form-control" id="xampleInputEmail1" aria-describedby="emailHelp">
                    <span asp-validation-for="Email"></span>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                
                <button type="submit" class="btn btn-hero-primary">Send Code</button>
            </form>

        </div>
    </div>
   


</div>
@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}